.header__square-pic {
    min-height: 568px;
    width: 568px;
    background-color: #2f80ed;
    z-index: 0;
    position: absolute;
    top: 64px;
    right: 0;
    animation: rotation 20s linear infinite;
}