.places {
  display: grid;
}

@media screen and (max-width: 425px) {
  .places {
    gap: 50px;
    margin-bottom: 66px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .places {
    max-width: calc(720% / 768 * 100);
    margin: 0 auto;
    gap: 60px;
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 769px) {
  .places {
    max-width: 100%;
    margin: 0;
    gap: 75px;
    margin-bottom: 92px;
  }
}



