.footer__link {
  color: #fff;
  font-size: 1rem;
  line-height: calc(18 / 16);
  text-decoration: none;
  font-weight: 400;
}

@media screen and (max-width: 425px) {
  .footer__links {
    font-size: calc(24rem / 16);
    line-height: 1;
  }
}

.footer__link:hover {
  opacity: 80%;
  transition: opacity linear 0.2s;
}

